@import '../common.scss';

$normal-margin: 0 5px 0 10px;

.ms-radio-box {
  display: inline-block;
  cursor: pointer;

  &.disabled {
    color: $grey-base;
    label {
      cursor: not-allowed;
    }
  }

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 1;
  }

  .ms-radio {
    padding: 0;
    margin: $normal-margin;
    cursor: pointer;

    &[disabled],
    &.disabled,
    fieldset[disabled] & {
      cursor: not-allowed;
    }
  }
}
