// font size
$font-size-base: 14px;
$font-weight-base: 300;

// color
$blue-base: #3890ff;
$green-base: #22c36a;
$orange-base: #f56e25;
$red-base: #f1483f;
$yellow-base: #f7b32b;
$whight-base: #fff;
$black-base: #333;
$grey-base: #ccc;

// border radius
$radius-base: 4px;

// shadow
