@import '../common.scss';

$normal-padding: 0 5px 0;
$normal-width: 240px;
$normal-placeholder-color: lighten($grey-base, 5%);

$focus-box-shadow: inset 0 0 4px 2px rgba(56, 144, 255, 0.1),
0 0 4px 2px rgba(56, 144, 255, 0.1);

$hover-background: darken($whight-base, 2%);

$disabled-background: lighten($grey-base, 15%);

.ms-input-box {
  display: inline-block;
  height: 30px;
  padding: 0;
  margin: 0;
}

.ms-input {
  height: 100%;
  width: $normal-width;
  padding: $normal-padding;
  border: none;
  outline: none;
  border: 1px solid $grey-base;
  border-radius: $radius-base - 1px;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  
  &::placeholder {
    color: $normal-placeholder-color;
  }

  &:hover {
    background: $hover-background;
  }

  &:focus {
    border-color: $blue-base;
    box-shadow: $focus-box-shadow;
  }

  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    color: $grey-base;
    background: $disabled-background;
    cursor: not-allowed;
  }
}
